*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background: #000;
}

.circle{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}

.load{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader{
    position: relative;
    margin: 15px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(45deg,
    transparent,transparent 30%,#e5f403);
    animation: loader 2s linear infinite;
}
@keyframes loader
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.loader:before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}

.loader:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,
    transparent,transparent 30%,#e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1000;
    filter: blur(30px);
}

>>>>>>>>>>>>>>>>>>>2>>>>>>>>>>>>>>>>>>>>>>>>


.btn-div{
    display: flex;
    justify-content: left;
    align-items: center;
}

.load-btn{
    position: relative;
    margin: 21px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,
    transparent,transparent 30%,#4dda15);
    animation: load-btn 2s linear infinite;
}
@keyframes load-btn
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.load-btn:before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}

.load-btn:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,
    transparent,transparent 30%,#4dda15);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}


<<<<<<<<<<<<<<<<<<<<<3<<<<<<<<<<<<<<<<<<<<<<<

.moon-div{
    /* display: flex;
    justify-content: left;
    align-items: center; */
}

.moon{
    margin: 21px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg,
    transparent,transparent 30%,#fff);
    animation: load-btn 2s linear infinite;
}
@keyframes moon
{
    0%
    {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
/* .moon:before
{
    content: '';
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}

.moon:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg,
    transparent,transparent 30%,#4dda15);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
} */















h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
}

form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid white;
}
form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color: white;
    font-size: 20px;
    padding: 0 30px;
}

form button{
    padding: 0 40px;
    height: 100%;
    background: white;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

::placeholder{
    color: white;
    font-size: 20px;
}

#show-more-btn{
    background: #fff;
    color: black;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 18px 28px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    display: block;
}